/.vscode/**
*.swp

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
*.whl
.Python
.eggs/
.pytest_cache/
.coverage
htmlcov/
*.cover
.hypothesis/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.nox/
venv/
ENV/
env/
.venv
*.pyc
*.pyo
*.pyd
